@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

/*body {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 44%, rgba(148,187,233,1) 100%);
background: url(princeza.png) left bottom no-repeat;
background-size: 500px 700px;
background-blend-mode: multiply;
}*/

body {
    width: 100%;
    height: 100%;
    background-image: url(princeza.png),
    radial-gradient(circle, rgba(238,174,202,1) 44%, rgba(148,187,233,1) 100%);
    background-repeat: no-repeat,
    no-repeat;
    background-position: bottom left,
    center;
    background-size: 600px 700px,
    auto;
}

header {
    height: 88px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right: auto;
    font-family: 'Berkshire Swash', cursive;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

.container {
    display: flex;
    max-width: 500px;
    gap: 20px;
    flex-direction: column;
    margin-left:auto;
    margin-right: auto;
}


form {
    padding: 24px;
    background: rgba(181, 177, 202, 0.685);

}

input[type=text],select,textarea{
    padding: 6px;
    width: 445px;
    font-family: Arial;
}

input[type=date]{
    width:445px;
    padding: 3px;
    font-family: Arial;
}

input[type=submit]{
    flex: 2 1 0%;
    min-width: 500px;
    min-height: 50px; 
    background-color:rgba(181, 177, 202, 0.685);
    color: white;
    font-size: 24px;
    border: 0px;
    overflow: hidden;
    padding: 5px;
    font-family: 'Berkshire Swash', cursive;
}


label {
    display: block;
    padding: 5px 0px 10px 0px;
    color:white;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 20px;
}

.prva-forma {
    flex:1 1 0%;
    border: 5px solid #6286af;
    padding-top: 0px;
}

.druga-forma {
    flex:1 1 0%;;
    border: 5px solid #6286af;
}

.treca-forma,input[type=submit]:hover{
    background-color:#cc86c9;
}

footer{
    font-family: 'Berkshire Swash', cursive;
    margin-top:0px;
}

