@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    
}

body {
    width: 100%;
    height: 100%;
    background-image: url(princeza.png),
    radial-gradient(circle, rgba(238,174,202,1) 44%, rgba(148,187,233,1) 100%);
    background-repeat: no-repeat,
    no-repeat;
    background-position: left,
    center;
    background-size: 640px 800px,
    auto;
}

header {
    height: 88px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right: auto;
    font-family: 'Berkshire Swash', cursive;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

.container {
    display: flex;
    max-width: 500px;
    gap: 20px;
    flex-direction: column;
    margin-left:auto;
    margin-right: auto;
}


form {
    padding: 24px;
    background: rgba(181, 177, 202, 0.685);
    padding-bottom: 40px;
}

input[type=text],select,textarea,input[type="password"]{
    padding: 6px;
    width: 445px;
    font-family: Arial;
}

input[type=date]{
    width:445px;
    padding: 3px;
    font-family: Arial;
}

input[type=submit]{
    flex: 2 1 0%;
    min-width: 500px;
    min-height: 50px; 
    background-color:rgba(181, 177, 202, 0.685);
    color: white;
    font-size: 24px;
    border: 0px;
    overflow: hidden;
    font-family: 'Berkshire Swash', cursive;
    padding-bottom: 0px;
}

input[type=submit],input[type=date],input[type=text],input[type="password"]{
    border: 1px solid transparent;
    border-radius: 5px;
}




label {
    display: block;
    padding: 5px 0px 10px 0px;
    color:white;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    font-size: 20px;
}

.prva-forma {
    flex:1 1 0%;
    border: 5px solid rgb(195,162,202);
    border-radius: 5px;
    padding-top: 0px;
}

.druga-forma {
    flex:1 1 0%;;
    border: 5px solid rgb(195,162,202);
    border-radius: 5px;
}

.treca-forma,input[type=submit]:hover{
    background-color:#cc86c9;
    border-radius: 5px;
}

footer{
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 30px;
    position: relative;
    height: 50px;
}

footer p {
    position:absolute;
    top:50px;
    left:87%;
    color: white;
   
}

